body {
    background-color: #ffffff;
    background-image: url(https://pro2-bar.myportfolio.com/v1/assets/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_192?); 
}

h1 {
    color: #46484c;
    text-align: cemter;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #67b54b;
}

.fixed-header {
  position: fixed;
  background-color: #030303;
  top: 0;
  left: 0;
  right: 0;
}

main {
  margin-top: 285px;
  text-align: center;
}
.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
  }

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}


li {
  display: inline;
  }

 

.logo {
  width: 15%;
  }

.logo > img {
  height: 100%;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #ffffff;
  }
  
.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
  }

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  }

.actions > * {
  margin-right: 10px;
  margin-left: 10px;
  }
  
a {
  width: 70%;
  color: #ffffff;
  }
  
.actions button {
  color: white;
  background-color: #c0ddb6;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
  }
  
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  }

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.publish {
  margin-left: 20%;
  }
  
.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  }
  
.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  }
  
.publish > form {
  display: flex;
  }
  
.publish > form p {
  color: #025157;
  margin-right: 18px;
  }

.datos {
  display: flex;
  align-items: center;
  color: #828282;
  padding: 5%;
  margin: 0%;
  height: 30px;
  }
.datos > img {
  width: 10%;
  padding-right: 10px;
  }
.datos > p {
  font-size: 17px;
  }
  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.historia-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px;
    
  }

.historia-button > button {
  color: white;
  background-color: #025157;
  font-size: 20px;
  position: fixed;
  padding: 15px 40px;
  border-radius: 10px;
  }
.logo-circular {
  position: relative;
  top: 60px;
  left: 200px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .how-does-it-work {
    background-color: rgb(207, 204, 204);
    padding: 5% 10%;
    text-align: center;
  }

  .how-does-it-work .title {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
  }
  .descripcion {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
    
  }
  .descripcion a {
    color: green; !important
    text-decoration: none;
  }
  .how-does-it-work button {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px 12px 6px;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;}
  .how-does-it-work .steps {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }.how-does-it-work .steps .card-steps {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }
  .how-does-it-work .steps .card-steps .card-step-image {
    position: relative;
    height: 350px;
  }
  .how-does-it-work .steps .card-steps .card-step-image .card-step-bg {
    width: 100%;
    height: 100%;
  }
  .how-does-it-work .steps .card-steps .card-step-image .card-step-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
  }
  .how-does-it-work .steps .card-steps .card-step-body {
    padding: 25px;
  }
